.conteiner {
    background-color: var(--fundo-conteiner);
    border-radius: 10px;
    overflow: hidden;
    border: 3px solid var(--borda);
}

.imagemCabecalho {
    width: 100%;
    height: 95px;
    object-fit: cover;
}

.perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: -1.5rem;
}

.perfil strong {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    color: var(--fonte-título);
    font-size: 1rem;
}

.avatar {
    width: 5rem;
    height: 5rem;
    border-radius: 8px;
    border: 4px solid var(--borda-2);
}

.opcoes {
    margin-top: 1.5rem;
    padding: 1.5rem 2rem 2rem;
}

.botao {
    display: flex;
    align-items: center;
    justify-content: center;   
    width: 100%;
    height: 45px;
    border-radius: 8px;
    padding: 0 1rem;
    border: 2px solid var(--borda);
    background-color: transparent;
    color: var(--fonte-título);
    transition: color 0.1s, background-color 0.1s;
}

.botao strong {
    margin-left: 0.5rem;
}

.botao:hover {
    background-color: var(--borda-4);
    color: var(--branco);
}

.perfil{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: -30px;
 }

