@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --branco: #fff;
    --fonte: #df6b31;
    --fonte-título: #c9571e;
    --borda: #df6b31;
    --borda-2: #be511b;
    --borda-3: #e07f4f;
    --borda-4: #ffa375;
    --preto: #000;
    --fundo: #ffeb88;
    --fundo-conteiner: rgb(255, 243, 191);
    --fundo-conteiner-2: rgb(221, 134, 90);
    --amarelo-1: #8338ec;
    --amarelo-2: #fb6f92;
    --amarelo-3: #e0aaff;
    --amarelo-4: #e0aaff;
    --amarelo-5: #e0aaff;
}

* {
    font-family: 'Montserrat', 'sans-seriff';
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color:var(--fundo);
    color: var(--branco);
    padding: 1rem;
}

body, input, textarea, button {
    font-family: 'Light 300', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}